@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 20;
	// padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.4);
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.work-time {
	display: flex;
	flex-direction: column;
	&__title {
		position: relative;
		@extend %SemiBold;
		background: linear-gradient(to right, #ff702a, #cc0e15);
		background-clip: text;
		color: transparent;
		padding-left: 25px;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/clock.svg");
			left: 0;
			top: 50%;
			width: 14px;
			height: 14px;
			transform: translateY(-50%);
		}
	}
	&__clock {
		padding-left: 25px;
		color: #a0cc3a;
		font-size: 12px;
		line-height: 42px;
	}
}
.menu {
	&__list {
		padding: 10px 10px 10px 50px !important;
		display: flex;
		align-items: center;
		background-color: $accent;
		border-radius: 70px;
	}
	&__list-item {
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__list-link {
		position: relative;
		@extend %Medium;
		font-size: 15px;
		line-height: 20.4px;
		color: #101010;
		transition: all 0.3s;
		&:hover {
			color: #fff;
			transition: all 0.2s;
			&::after {
				position: absolute;
				content: "";
				border-radius: 25px;
				height: 2px;
				width: 115px;
				background-color: #fff;
				top: 40px;
				right: 18px;
			}
		}
	}
	&__list-link--home:hover {
		&::after {
			width: 45px;
		}
	}
	&__list-link--about:hover {
		&::after {
			width: 50px;
		}
	}
	&__list-link--menu:hover {
		&::after {
			width: 115px;
		}
	}
	&__list-link--offer:hover {
		&::after {
			width: 40px;
		}
	}
	&__list-link--contact:hover {
		&::after {
			width: 70px;
		}
	}

	&__list-item--phone {
		padding: 5px 15px;
		border-radius: 70px;
		background: #171717;
	}
	&__link-phone {
		@extend %Medium;
		font-size: 15px;
		line-height: 20.43px;
		color: #fff;
	}
	&__btn {
		display: none;
	}
}
.testtoo {
	z-index: 50;
	color: #0a0626;
}
.top-content {
	max-width: 1950px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	background-image: url("../images/background/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	&::after {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		background: rgba(0, 0, 0, 0.85);
		z-index: 1;
	}
	&::before {
		position: absolute;
		z-index: 5;
		content: "";
		width: 307px;
		height: 345px;
		left: 50px;
		bottom: 50px;
		background-image: url("../images/icons/bubble.png");
		background-repeat: no-repeat;
	}
	&__wrapper {
		position: relative;
		color: #fff;
		z-index: 7;
		height: 100vh;
		width: 100%;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		top: 55%;
		transform: translateY(-50%);
	}
	&__box {
		max-width: 500px;
	}
	&__title {
		@extend %Bold;
		font-size: 90px;
		line-height: 100px;
		color: #fff;
		margin-bottom: 35px;
	}
	&__title-color {
		color: $accent;
	}
	&__title-link {
		position: relative;
		@extend %Regular;
		color: #fff;
		&::after {
			position: absolute;
			content: "";
			height: 4px;
			width: 140px;
			bottom: 10px;
			left: 0;
			border-radius: 25px;
			background-color: $accent;
		}
	}
	&__text {
		font-size: 20px;
		line-height: 45px;
		color: #fff;
		margin-bottom: 45px;
	}
	&__text-link {
		color: #e05611;
	}
	&__image {
		margin-left: auto;
	}
	&__button {
		position: relative;
		@extend %Medium;
		padding: 25px 75px 25px 40px;
		font-size: 17px;
		line-height: 95px;
		background: linear-gradient(to right, #ff702a, #cc0e15);
		border-radius: 40px;
		color: #fff;
		&::after {
			position: absolute;
			content: "";
			right: 37px;
			top: 50%;
			width: 12px;
			height: 10px;
			transform: translateY(-50%);
			background-image: url("../images/icons/arrowRight.png");
		}
	}
}
.promo {
	padding: 140px 0;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__inner {
		width: 400px;
		height: 400px;
		border: 4px dashed #f8ddd1;
		border-radius: 25px;
		transform: rotate(-15deg);
	}
	&__item {
		position: relative;
		padding: 25px;
		width: 400px;
		height: 400px;
		border-radius: 25px;
		background-color: $default;
		transform: rotate(15deg);
	}
	&__item-title {
		@extend %Bold;
		font-size: 30px;
		line-height: 30px;
		letter-spacing: 0.14em;
		display: flex;
		transform: rotate(-90deg) !important;
		position: absolute;
		left: -100px;
		top: 45%;
		transform: translateY(-50%);
		color: #d39c8391;
	}
	&__image-box {
		position: absolute;
		right: -56px;
		bottom: -3px;
		width: 150px;
		height: 150px;
		border: 4px dashed #f8ddd1;
		border-radius: 25px;
		transform: rotate(-30deg);
	}
	&__image-thumb {
		width: 150px;
		height: 150px;
		border-radius: 25px;
		background-color: $accent;
		transform: rotate(45deg);
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.promo-content {
	padding: 130px 40px 40px;
	text-align: center;
	max-width: 600px;
	border-radius: 25px;
	background-color: $default;
	&__title {
		position: relative;
		@extend %Bold;
		font-size: 50px;
		line-height: 65px;
		color: #0a0626;
		margin-bottom: 26px;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/promoContent.png");
			top: -90px;
			left: 50%;
			width: 75px;
			height: 75px;
			transform: translateX(-50%);
		}
	}
	&__title-color {
		color: $accent;
	}
	&__text {
		@extend %Medium;
		font-size: 17px;
		line-height: 30px;
		color: $textdefault;
		margin-bottom: 40px;
	}
	&__inner {
		padding: 20px 30px;
		background-color: #fff;
		border-radius: 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__price {
		position: relative;
		@extend %Bold;
		font-size: 40px;
		line-height: 65px;
		color: $accent;
		padding-left: 20px;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/dollar.png");
			left: 0;
			bottom: 20px;
			height: 16px;
			width: 12px;
		}
	}
	&__clock {
		position: relative;
		@extend %Medium;
		font-size: 15px;
		line-height: 28px;
		padding-left: 31px;
		color: $textdefault;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/clock.png");
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
		}
	}
	&__item--count {
		position: relative;
		width: 80px;
		height: 80px;
		background-color: $default;
		border-radius: 20px;
		transform: rotate(45deg);
	}
	&__form {
		position: absolute;
		transform: rotate(-45deg);
	}
}
.jq-number.focused .jq-number__field {
	border: none !important;
}
.jq-number__field {
	border: none;
	box-shadow: none;
}

.jq-number__field input {
	position: absolute;
	padding: 0;
	left: 25px;
	top: -10px;
	color: #333;
	display: inline-block;
}
.jq-number__spin {
	position: absolute;
	top: -40px;
	right: 90px;
	width: 32px;
	height: 14px;
	border: none;
	border-bottom-color: transparent;
	border-radius: 4px;
	background: transparent;
	box-shadow: none;
	text-shadow: none;
	cursor: pointer;
}
.jq-number__spin.minus {
	top: auto;
	bottom: -35px;
}
.jq-number__spin:active {
	background: none;
	box-shadow: none;
}
.jq-number__spin:hover {
	background: none;
}
.jq-number__field input {
	max-width: 15px;
}
.jq-number__spin:after {
	content: "";
	position: absolute;
	background-image: url("../images/icons/plus.png");
	background-repeat: no-repeat;
	top: 4px;
	left: 9px;
	width: 12px;
	height: 12px;
	border: none;
}
.jq-number__spin.minus:after {
	content: "";
	position: absolute;
	top: 5px;
	left: 10px;
	width: 10px;
	height: 2px;
	border: none;
	background-color: #72716f;
}
.orders {
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 70px 50px;
		background-color: $accent;
		border-radius: 25px;
	}
	&__item {
		position: relative;
		min-width: 190px;
		padding-left: 120px;
		&::after {
			position: absolute;
			content: "";
			width: 93px;
			height: 93px;
			left: 0;
			top: 0;

			background-image: url("../images/icons/food.png");
		}
	}
	&__item--order::after {
		background-image: url("../images/icons/ordersBurger.png");
	}
	&__item--order::after {
		background-image: url("../images/icons/receive.png");
	}
	&__title {
		@extend %Bold;
		font-size: 25px;
		line-height: 28px;
		color: #fff;
		margin-bottom: 15px;
	}
	&__title-link {
		color: inherit;
	}
	&__text {
		line-height: 28px;
		color: #fff5f0;
	}
}
.orders-top {
	background-color: $accent;
	&__inner {
		padding: 70px 0;
		border-radius: none;
	}
	&__text {
		max-width: 220px;
	}
}
.hot-menu {
	padding: 130px 0 150px;
	&__title {
		@extend %Bold;
		font-size: 50px;
		line-height: 65px;
		margin: 0 auto;
		margin-bottom: 27px;
		text-align: center;
		max-width: 420px;
		color: #0a0626;
	}
	&__text {
		margin: 0 auto;
		text-align: center;
		max-width: 580px;
		margin-bottom: 100px;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 25px;
	}
	&__item {
		padding: 15px;
		max-width: 370px;
		border-radius: 25px;
		background-color: $default;

		&:hover {
			.hot-menu__content {
				transition: all 0.5s;
				opacity: 1;
			}
			.menu-price__link {
				transition: all 0.5s;
				background-color: $accent;
				color: #fff;
			}
		}
	}
	&__img-box {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 233px;
		width: 100%;
	}
	&__image {
		object-fit: contain;
		width: 240px;
		height: 180px;
	}
	&__content {
		padding: 35px 40px;
		background: linear-gradient(to right, rgba(255, 112, 42, 0.85), rgba(204, 14, 21, 0.85));
		border-radius: 25px;
		position: absolute;
		width: 100%;
		top: 2px;
		height: 230px;
		overflow: hidden;
		opacity: 0;
	}
	&__content-box {
		color: #fff;
	}
	&__content-title {
		@extend %Bold;
		font-size: 20px;
		line-height: 40px;
	}
	&__list-item {
		font-size: 14px;
		line-height: 26px;
	}
}
.menu-price {
	margin-top: 15px;
	padding: 20px;
	border-radius: 25px;
	background-color: #fff;
	&__title {
		@extend %Bold;
		font-size: 22px;
		margin-bottom: 13px;
		color: #0a0626;
	}
	&__box {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__cost {
		position: relative;
		@extend %Bold;
		font-size: 40px;
		line-height: 65px;
		color: $accent;
		padding-left: 20px;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/dollar.png");
			left: 0;
			bottom: 20px;
			height: 16px;
			width: 12px;
		}
	}
	&__clock {
		position: relative;
		@extend %Medium;
		font-size: 15px;
		line-height: 28px;
		padding-left: 31px;
		color: $textdefault;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/clock.png");
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
		}
	}
	&__link {
		@extend %Medium;
		line-height: 20.4px;
		padding: 14px 18px;
		background-color: $default;
		color: #0a0626;
		border-radius: 50px;
	}
}
.offers {
	background-image: url("../images/background/offers.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	max-width: 1950px;
	padding: 0 15px;
	margin: 0 auto;
	&__inner {
		padding: 140px 0 310px;
		display: flex;
		align-items: center;
	}
	&__content {
		max-width: 475px;
		margin-right: 120px;
	}
	&__content-title {
		@extend %Bold;
		color: #fff;
		font-size: 55px;
		line-height: 60px;
		margin-bottom: 42px;
		span {
			color: $accent;
		}
	}
	&__content-text {
		@extend %SemiBold;
		font-size: 17px;
		line-height: 30px;
		color: #dccece;
		margin-bottom: 25px;
	}
	&__content-text + .offers__content-text {
		position: relative;
		@extend %Regular;
		padding-left: 43px;
		font-size: 15px;
		line-height: 30px;
		color: #b6a9a9;
		margin-bottom: 55px;
		&::after {
			position: absolute;
			content: "";
			width: 3px;
			height: 85%;
			background-color: $accent;
			left: 0;
			top: 10px;
		}
	}
}
.offers-price {
	&__box {
		display: flex;
		align-items: center;
	}
	&__inner {
		margin-right: 50px;
	}
	&__cost {
		position: relative;
		@extend %Bold;
		font-size: 40px;
		line-height: 65px;
		color: $accent;
		padding-left: 20px;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/dollar.png");
			left: 0;
			bottom: 20px;
			height: 16px;
			width: 12px;
		}
	}
	&__clock {
		position: relative;
		@extend %Medium;
		font-size: 15px;
		line-height: 28px;
		padding-left: 31px;
		color: $textdefault;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/clock.png");
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
		}
	}
	&__link {
		@extend %Medium;
		line-height: 20.4px;
		padding: 14px 30px;
		background-color: $accent;
		color: #fff;
		border-radius: 50px;
	}
}
.offers-btn {
	background-color: rgba(155, 131, 70, 0.4);
	width: 410px;
	height: 410px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	&__inner {
		@extend %Bold;
		font-size: 40px;
		line-height: 58px;
		color: #fff;
		width: 340px;
		height: 340px;
		border-radius: 50%;
		background: linear-gradient(to right, rgba(255, 112, 42, 0.6), rgba(204, 14, 21, 0.6));
	}
	&__link {
		height: 100%;
		display: flex;
		color: inherit;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__text {
		@extend %Medium;
		font-size: 28px;
		color: #c1e006;
	}
}
.customers {
	padding: 130px 0 140px;
	background-color: #fff;
	&__title {
		max-width: 530px;
		margin: 0 auto;
		text-align: center;
		@extend %Bold;
		font-size: 50px;
		line-height: 65px;
		color: #0a0626;
		margin-bottom: 80px;
		span {
			color: $accent;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	&__user,
	.customers-slider__user {
		width: 105px;
		height: 105px;
		border-radius: 25px;
		border: 2px dashed #eec2af;
	}
	&__user--left {
		transform: rotate(25deg);
	}
	&__user--right {
		transform: rotate(-25deg);
	}
	&__user-img,
	.customers-slider__img {
		object-fit: cover;
		border-radius: 25px;
		height: 100%;
		width: 100%;
	}
	&__user-img--left {
		transform: rotate(-45deg);
	}
	&__user-img--right {
		transform: rotate(45deg);
	}
}
.customers-slider {
	padding: 25px 35px;
	max-width: 830px;
	border-radius: 25px;
	background-image: url("../images/customers/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	&__item {
		padding: 25px 0;
		text-align: center;
	}
	&__user {
		margin: 0 auto;
		border: 2px dashed $accent !important;
		transform: rotate(45deg);
		margin-bottom: 50px;
	}

	&__img {
		border-radius: 25px;
		transform: rotate(-45deg);
	}
	&__text {
		font-size: 22px;
		line-height: 40px;
		@extend %Medium;
		color: #807670;
		margin-bottom: 50px;
	}
	&__name {
		@extend %Bold;
		font-size: 25px;
		line-height: 40px;
		color: #0a0626;
	}
	&__user-status {
		@extend %Medium;
		font-size: 17px;
		line-height: 40px;
		color: #807670;
	}
}
.slick-arrow {
	position: absolute;
	cursor: pointer;
	top: 80px;
	z-index: 2;
	width: 63px;
	height: 63px;
	background-color: #feebe1;
	border: none;
	&::after {
		position: absolute;
		content: "";
		width: 55px;
		height: 55px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border-radius: 50%;
		z-index: -2;
	}
}
.slick-prev {
	left: 15%;
}
.slick-next {
	right: 15%;
}
.slick-disabled {
	path {
		fill: #000;
	}
}
.top {
	max-width: 1950px;
	margin: 0 auto;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&::after {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		background: rgba(0, 0, 0, 0.45);
		z-index: 1;
	}
	&::before {
		position: absolute;
		z-index: 5;
		content: "";
		width: 210px;
		height: 240px;
		left: 50px;
		bottom: 50px;
		background-image: url("../images/icons/bubbleTop.png");
		background-repeat: no-repeat;
	}
	&__inner {
		height: 450px;
		display: flex;
	}
	&__page {
		padding-bottom: 100px;
		margin-top: auto;
		position: relative;
		z-index: 10;
	}
	&__page-title {
		@extend %Bold;
		font-size: 50px;
		line-height: 100px;
		color: #fff;
	}
}
.about {
	padding: 140px 0 130px;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__img-box {
		width: 460px;
		height: 460px;
		border: 4px dashed $default;
		border-radius: 25px;
		transform: rotate(15deg);
	}
	&__img {
		object-fit: cover;
		width: 460px;
		min-height: 460px;
		border-radius: 25px;
		transform: rotate(-15deg);
	}
}
.about-tabs {
	position: relative;
	padding: 40px 40px 60px;
	width: 600px;
	height: auto;
	background-color: $default;
	border-radius: 15px;
	&::after {
		position: absolute;
		content: "";
		width: 75px;
		height: 75px;
		right: -37px;
		top: 24%;
		background-image: url("../images/icons/tabsRight.png");
	}
	&::before {
		position: absolute;
		content: "";
		background-image: url("../images/icons/tabsLeft.png");
		width: 75px;
		height: 75px;
		bottom: 22%;
		left: -37px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		max-width: 490px;
		margin: 0 auto;
		border-radius: 15px;
		padding: 12px;
		background-color: #fff;
		margin-bottom: 40px;
	}
	&__item {
		@extend %Medium;
		font-size: 17px;
		line-height: 20px;
		color: #0a0626;
		padding: 15px 25px;
		border-radius: 10px;
		background-color: $default;
	}
	&__content-item {
		text-align: center;
	}
	&__title {
		@extend %Bold;
		font-size: 38px;
		line-height: 52px;
		color: #0a0626;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 15px;
		line-height: 29px;
		color: #494442;
		& + .about-tabs__text {
			margin-top: 13px;
		}
	}
	&__item--active {
		background-color: $accent;
		color: #fff;
	}
	&__content-item {
		display: none;
		&.about-tabs__content-item--active {
			display: block;
		}
	}
}
.awarded-chefs {
	padding-bottom: 140px;
	background-color: #fff;
	&__top {
		margin: 0 auto;
		text-align: center;
		max-width: 630px;
	}
	&__title {
		@extend %Bold;
		font-size: 50px;
		line-height: 65px;
		text-align: center;
		color: #0a0626;
		margin-bottom: 25px;
		span {
			color: $accent;
		}
	}
	&__text {
		margin-bottom: 90px;
	}
}
.chefs {
	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
	}
	&__box {
		padding: 20px 40px 35px 20px;
		background-color: $default;
		border-radius: 15px;
		display: flex;
		max-width: 570px;
	}
	&__item {
		margin-right: 35px;
		text-align: center;
	}
	&__img {
		border-radius: 15px;
		object-fit: cover;
		min-width: 220px;
		height: 220px;
	}
	&__name {
		@extend %SemiBold;
		margin-top: 30px;
		font-size: 23px;
		line-height: 65px;
		text-align: center;
		color: #0a0626;
	}
	&__subtitle {
		@extend %Regular;
		font-size: 15px;
		line-height: 28px;
	}
	&__content-text {
		font-size: 15px;
		line-height: 26px;
		margin-bottom: 10px;
		& + .chefs__content-text {
			margin-bottom: 22px;
		}
	}
}
.today-menu {
	padding: 120px 0 110px;
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		margin-bottom: 50px;
	}
	&__item {
		background-color: $default;
		border-radius: 15px;
		border: 2px solid #fad6c5;
		max-width: 370px;
		transition: all 0.5s;
		&:hover {
			border: 2px solid $accent;
		}
	}
	&__img {
		object-fit: cover;
		width: 100%;
		height: 220px;

		border-radius: inherit;
	}
	&__date {
		position: absolute;
		left: 40px;
		top: -30px;
		@extend %SemiBold;
		font-size: 16px;
		line-height: 30px;
		color: #000;
		padding: 15px 25px;
		border-radius: 70px;
		background: linear-gradient(to right, #ff702a, #cc0e15);
	}
	&__description {
		position: relative;
		padding: 50px 40px 35px;
	}
	&__description-title {
		@extend %SemiBold;
		font-size: 22px;
		line-height: 32px;
		color: #232323;
		margin-bottom: 18px;
	}
	&__description-text {
		font-size: 15px;
		line-height: 26px;
		color: #494442;
	}
}
.blog-details {
	padding: 120px 0 140px;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__content {
		max-width: 800px;
		margin-right: 35px;
	}
	&__title {
		@extend %SemiBold;
		font-size: 35px;
		line-height: 48px;
		color: #232323;
		margin-bottom: 15px;
	}
	&__nume {
		@extend %Medium;
		font-size: 17px;
		line-height: 32px;
		color: $accent;
		margin-bottom: 55px;
	}
	&__date {
		color: #232323;
	}
	&__text {
		color: #616161;
		margin-bottom: 35px;
	}
	&__image {
		object-fit: cover;
		max-height: 370px;
		width: 100%;
		margin-bottom: 45px;
	}
	&__text-description {
		@extend %SemiBold;
		font-size: 18px;
		line-height: 32px;
		color: #515454;
		margin-bottom: 30px;
	}
	&__tags {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 30px;
		border-radius: 15px;
		background-color: $default;
		margin-bottom: 70px;
		span {
			@extend %SemiBold;
			color: $accent;
			line-height: 32px;
		}
	}
	&__tags-link {
		color: $textdefault;
	}
	&__social-list {
		display: flex;
	}
	&__social-item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 53px;
		width: 53px;
		border-radius: 10px;
		background-color: #fff;
		transition: all 1s;
		border: 2px solid $default;
		& + .blog-details__social-item {
			margin-left: 12px;
		}
		&:hover {
			background: linear-gradient(to right, #ff702a, #cc0e15);
			.blog-details__social-link {
				path {
					fill: #fff;
				}
			}
		}
	}
	&__social-link {
		padding: 10px 15px;
	}
	&__aside {
		max-width: 305px;
	}
}
.comments {
	padding-bottom: 80px;
	&__item {
		display: flex;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__image {
		object-fit: cover;
		width: 105px;
		height: 105px;
		margin: 12px 40px 0 0;
		border-radius: 10px;
	}

	&__content-name {
		@extend %SemiBold;
		font-size: 20px;
		line-height: 40px;
		color: #3c3c3c;
	}
	&__content__prof {
		font-size: 15px;
		line-height: 32px;
		color: #696969;
	}
	&__content-text {
		color: #78787c;
		margin-bottom: 30px;
	}

	&__content-reply {
		position: relative;
		display: inline-block;
		padding: 12px 35px 12px 66px;
		border-radius: 5px;
		background: linear-gradient(to right, #ff702a, #cc0e15);
		color: #fff;
		margin-bottom: 50px;
		&::after {
			position: absolute;
			content: "";
			width: 14px;
			height: 14px;
			left: 33px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url("../images/icons/blog-arrow.svg");
			background-repeat: no-repeat;
		}
	}
}
.comments-form {
	&__title {
		margin-bottom: 40px;
	}
	&__box-input {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	&__input {
		padding: 15px 30px 10px;
		height: 60px;
		width: 387px;
		border-radius: 5px;
		border: 1px solid #e0e1e1;
		outline-color: #ff712a;
		&::placeholder {
			color: #696969;
		}
	}
	&__textarea {
		padding: 15px 30px 10px;
		width: 100%;
		display: block;
		height: 250px;
		resize: none;
		border-radius: 5px;
		border: 1px solid #e0e1e1;
		outline-color: #ff712a;
		margin-bottom: 55px;
		&::placeholder {
			color: #696969;
		}
	}
	&__btn {
		cursor: pointer;
		padding: 15px 30px;
		border: none;
		background: linear-gradient(to right, #ff702a, #cc0e15);
		border-radius: 5px;
	}
}
.search {
	&__form {
		position: relative;
		display: flex;
		margin-bottom: 78px;
	}
	&__input {
		width: 100%;
		padding: 20px 80px 20px 17px;
		height: 68px;
		border-radius: 5px;
		border: 1px solid #e0e1e1;
	}
	&__btn {
		position: absolute;
		right: 0;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		height: 68px;
		width: 68px;
		border-radius: 5px;
		background: linear-gradient(to right, #ff702a, #cc0e15);
	}
}
.category {
	margin-bottom: 70px;
	&__title {
		margin-bottom: 30px;
	}
	&__label {
		cursor: pointer;
		display: block;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .category__checkbox {
			background: linear-gradient(to right, #ff702a, #cc0e15);
			color: #fff;
		}
	}
	&__checkbox {
		border: 1px solid #e0e1e1;
		border-radius: 5px;
		background-color: #fff;
		color: #000;
		padding: 15px 20px;
	}
}
.recent-rost {
	margin-bottom: 70px;
	&__title {
		margin-bottom: 45px;
	}
	&__item {
		display: flex;
		margin-bottom: 25px;
		max-height: 90px;
		overflow-y: auto;
		scrollbar-width: thin;
	}
	&__img-link {
		display: block;
		margin-right: 15px;
	}
	&__img {
		object-fit: cover;
		height: 85px;
		min-width: 85px;
		border-radius: 10px;
	}
	&__box {
		padding-right: 10px;
	}
	&__date {
		font-size: 15px;
		color: $accent;
	}
	&__text {
		font-size: 15px;
		color: #646464;
	}
}

.popular-tags {
	&__title {
		margin-bottom: 40px;
	}
	&__label {
		cursor: pointer;
		text-align: center;
		width: 100%;
	}
	&__input {
		@extend %checkbox-hidden;
		&:checked + .popular-tags__checkbox {
			background: linear-gradient(to right, #ff702a, #cc0e15);
			color: #fff;
		}
	}
	&__box {
		display: flex;
		justify-content: space-between;
	}
	&__checkbox {
		display: block;
		padding: 16px 15px;
		border: 1px solid #e0e1e1;
		border-radius: 5px;
		background-color: #fff;
		color: #000;
		margin-bottom: 7px;
		margin-right: 7px;
	}
}
.contact-top {
	padding: 80px 0 70px;
	background-color: $accent;
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		position: relative;
		width: 320px;
		padding-left: 120px;
		&::after {
			position: absolute;
			content: "";
			width: 93px;
			height: 93px;
			left: 0;
			top: 0;
			background-image: url("../images/icons/contact-phone.svg");
			background-repeat: no-repeat;
		}
	}
	&__item--mail::after {
		background-image: url("../images/icons/contact-massage.svg");
	}
	&__item--adress::after {
		background-image: url("../images/icons/contact-adress.svg");
	}
	&__title {
		@extend %Bold;
		margin-bottom: 15px;
		font-size: 25px;
		line-height: 28px;
		color: #ffffff;
	}
	&__phone,
	&__mail,
	&__adress-link {
		display: block;
		color: #fff5f0;
	}
}
.reservation {
	padding: 130px 0 150px;

	&__title {
		@extend %Bold;
		max-width: 640px;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 50px;
		line-height: 65px;
		text-align: center;
		color: #0a0626;
	}
	&__text {
		max-width: 570px;
		margin: 0 auto;
		margin-bottom: 90px;
		text-align: center;
	}
}

.reservation-form {
	padding: 55px 65px;
	margin: 0 auto;
	max-width: 900px;
	border-radius: 20px;
	background-color: $default;
	&__wrapper {
		position: relative;
		max-width: 1570px;
		padding: 0 15px;
		margin: 0 auto;
		&::after {
			position: absolute;
			content: "";
			left: 0;
			top: 70px;
			width: 236px;
			height: 236px;
			background-image: url("../images/icons/ice-cream.png");
		}
		&::before {
			position: absolute;
			content: "";
			bottom: 70px;
			right: 0;
			width: 236px;
			height: 236px;
			background-image: url("../images/icons/cake.png");
		}
	}
	&__span {
		display: block;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 5px;
		color: $textdefault;
	}
	&__select-inner {
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 27px;
	}
	&__select {
		position: relative;
		display: inline-block;
		&::after {
			position: absolute;
			cursor: pointer;
			content: "";
			right: 18px;
			top: 50%;
			width: 12px;
			height: 7px;
			transform: translateY(-50%);
			background-image: url("../images/icons/arrow-bottom.svg");
		}
		select {
			font-family: inherit;
			width: 370px;
			height: 60px;
			padding: 15px;
			border-radius: 10px;
			border: 2px solid $default;
			font-size: 15px;
			line-height: 20px;
			color: #bbbbbb;
			appearance: none;
			cursor: pointer;

			&:focus {
				outline: 0;
				border-color: $accent;
			}
		}
	}
	&__input-inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 45px;
	}
	&__input {
		@extend %Medium;
		width: 370px;
		height: 60px;
		padding: 15px;
		border-radius: 10px;
		border: 2px solid $default;
		color: $textdefault;
		&::placeholder {
			@extend %Regular;
			font-size: 15px;
			line-height: 20px;
			color: #bbbbbb;
		}
		&:focus {
			outline: 0;
			border-color: $accent;
		}
	}
	&__checkbox {
		position: relative;
		margin-bottom: 35px;
	}
	&__checkbox-input {
		@extend %checkbox-hidden;
		&:checked + .reservation-form__label::after {
			opacity: 1;
		}
	}
	&__label {
		@extend %SemiBold;
		padding-left: 35px;
		font-size: 18px;
		line-height: 20px;
		color: #0a0626;
		&::before {
			position: absolute;
			display: block;
			content: "";
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			background-color: #fff;
			border-radius: 50%;
			z-index: 1;
		}
		&::after {
			position: absolute;
			content: "";
			width: 6px;
			height: 6px;
			left: 7px;
			top: 50%;
			border-radius: 50%;
			transform: translateY(-50%);
			background-color: $accent;
			opacity: 0;
			z-index: 2;
		}
	}
	&__textarea {
		width: 100%;
		padding: 15px;
		height: 200px;
		resize: none;
		border-radius: 10px;
		border: 2px solid $default;
		margin-bottom: 50px;
		&::placeholder {
			@extend %Regular;
			font-size: 15px;
			line-height: 20px;
			color: #bbbbbb;
		}
		&:focus {
			outline: 0;
			border-color: $accent;
		}
	}
	&__btn {
		@extend %Medium;
		position: relative;
		display: block;
		margin: 0 auto;
		font-size: 17px;
		color: #fff;
		padding: 15px 65px 15px 35px;
		border: none;
		cursor: pointer;
		background: linear-gradient(to right, #ff702a, #cc0e15);
		border-radius: 45px;
		&::after {
			position: absolute;
			content: "";
			right: 30px;
			top: 50%;
			width: 12px;
			height: 10px;
			transform: translateY(-50%);
			background-image: url("../images/icons/arrowRight.png");
		}
	}
}
.page-404 {
	&__inner {
		padding: 150px 0;
	}
	&__content {
		text-align: center;
	}
	&__images {
		margin: 0 auto;
		margin-bottom: 50px;
	}
	&__title {
		@extend %Bold;
		max-width: 460px;
		font-size: 50px;
		line-height: 65px;
		text-align: center;
		color: #0a0626;
		margin: 0 auto;
		margin-bottom: 25px;
		span {
			@extend %SemiBold;
			font-size: 22px;
			line-height: 42px;
			color: #a2a2a2;
		}
	}
	&__text {
		max-width: 550px;
		margin: 0 auto;
		margin-bottom: 55px;
	}
	&__link {
		position: relative;
		@extend %Medium;
		padding: 20px 45px 20px 66px;
		font-size: 17px;
		color: #fff;
		background: linear-gradient(to right, #ff702a, #cc0e15);
		border-radius: 45px;
		&::after {
			position: absolute;
			content: "";
			left: 30px;
			top: 27px;
			width: 12px;
			height: 10px;
			transform: rotate(180deg);
			background-image: url("../images/icons/arrowRight.png");
		}
	}
}
.make-food {
	position: relative;
	padding: 95px 0;
	background: url("../images/background/make-foodBG.jpg");
	background-repeat: repeat-x;
	&::after {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255, 113, 42, 0.93);
		z-index: 2;
	}
	&__inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 3;
	}
	&__content {
		max-width: 630px;
		padding-right: 140px;
		border-right: 1px dashed #fff;
	}
	&__title {
		@extend %Bold;
		font-size: 46px;
		line-height: 58px;
		color: #fff;
		margin-bottom: 18px;
	}
	&__color-row {
		color: #000;
	}
	&__text {
		font-size: 20px;
		line-height: 35px;
		color: #fff;
	}
	&__video-box {
		display: flex;
		align-items: center;
	}

	&__image-play {
		&:hover {
			transition: all 0.3s;
			transform: scale(1.1);
		}
	}
	&__popup {
		margin-right: 35px;
	}
	&__video-title {
		@extend %Bold;
		font-size: 25px;
		line-height: 55px;
		color: #fff;
	}
}

.footer {
	&__inner {
		padding: 150px 0;
		display: flex;
		justify-content: space-between;
		background-color: #fff;
	}
	&__logo {
		display: inline-block;
		margin-bottom: 25px;
	}
	&__item--social {
		max-width: 285px;
	}
	&__text {
		cursor: pointer;
		margin-bottom: 25px;
		transition: all 0.3s;
		&:hover {
			color: $accent;
		}
	}
	&__text--second {
		margin-bottom: 55px;
	}

	&__item--contact {
		max-width: 275px;
	}
	&__title {
		@extend %SemiBold;
		font-size: 25px;
		line-height: 30px;
		color: #0a0626;
	}
	&__title--contact {
		position: relative;
		padding-bottom: 38px;
		margin-bottom: 60px;
		&::after {
			position: absolute;
			content: "";
			background-image: url("../images/icons/border.svg");
			width: 105px;
			height: 9px;
			bottom: 0;
			left: 0;
		}
	}
	&__phone {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-left: 70px;
		margin-bottom: 40px;

		&::before {
			position: absolute;
			background-image: url("../images/icons/phone.svg");
			content: "";
			width: 43px;
			height: 43px;
			left: 0;
			top: 5px;
		}
	}
	&__phone-link,
	&__mail-link,
	&__adress-link {
		color: $textdefault;
	}
	&__mail {
		position: relative;
		padding-left: 70px;
		margin-bottom: 40px;
		&::before {
			position: absolute;
			background-image: url("../images/icons/massage.svg");
			content: "";
			width: 43px;
			height: 43px;
			left: 0;
			top: 5px;
		}
	}
	&__adress {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-left: 70px;
		&::before {
			position: absolute;
			background-image: url("../images/icons/map.svg");
			content: "";
			width: 43px;
			height: 43px;
			left: 0;
			top: 5px;
		}
	}
	&__item--time {
		background-image: url("../images/icons/footerbg.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 50px 55px 43px;
		width: 430px;
		border-radius: 15px;
	}
	&__title--time {
		margin-bottom: 45px;
	}
	&__item-time {
		display: flex;
		justify-content: space-between;
		transition: all 0.3s;
		cursor: pointer;
		&:hover {
			@extend %SemiBold;
			color: $accent;
			.footer__clock {
				&::after {
					background-image: url("../images/icons/dottedLine-active.svg");
				}
			}
		}
	}
	&__clock {
		position: relative;
		padding-left: 100px;
		margin-bottom: 7px;
		&::after {
			content: "";
			position: absolute;
			background-image: url("../images/icons/dottedLine.svg");
			background-repeat: no-repeat;
			width: 80px;
			height: 3px;
			left: 0;
			bottom: 8px;
		}
	}
	&__clock--active {
		color: #ff1800;
	}
}
.social {
	display: flex;

	&__item:hover {
		transition: all 0.3s;
		transform: scale(1.1);
	}
	&__item + .social__item {
		margin-left: 12px;
	}
}
.copyright {
	padding: 30px 0;
	background-color: $default;
	&__inner {
		display: flex;
		justify-content: space-between;
		color: #0a0626;
	}
}
@import "media";
